<?xml version="1.0"?>
<launch>
  <!-- 
    Launch file for testing a single motor with the reduced control node.
  -->

  <!-- Load configurations for each node -->
  <rosparam file="$(find exoskeleton_control)/config/single_motor_config.yaml" command="load" ns="single_motor_control_node"/>
  <rosparam file="$(find exoskeleton_control)/config/emergency_stop_config.yaml" command="load" ns="emergency_stop_node"/>

  <!-- Single Motor Control Node -->
  <node name="single_motor_control_node" pkg="exoskeleton_control" type="single_motor_control_node.py" output="screen">
    <remap from="Motor_Status" to="/exoskeleton/motor_status"/>
    <remap from="e_stop_trigger" to="/exoskeleton/emergency_stop"/>
    <remap from="system_state" to="/exoskeleton/system_state"/>
    <remap from="calibration_complete" to="/exoskeleton/calibration_complete"/>
    <remap from="calibration_failed" to="/exoskeleton/calibration_failed"/>
    <remap from="cycle_finished" to="/exoskeleton/cycle_finished"/>
  </node>

  <!-- Emergency Stop Node -->
  <node name="emergency_stop_node" pkg="exoskeleton_control" type="emergency_stop_node.py" output="screen">
    <remap from="Motor_Status" to="/exoskeleton/motor_status"/>
    <remap from="crutch_command" to="/crutch_command"/>
    <remap from="e_stop_trigger" to="/exoskeleton/emergency_stop"/>
    <remap from="calibration_trigger_fw" to="/exoskeleton/calibration_trigger_fw"/>
    <remap from="system_state" to="/exoskeleton/system_state"/>
    <remap from="calibration_complete" to="/exoskeleton/calibration_complete"/>
    <remap from="calibration_failed" to="/exoskeleton/calibration_failed"/>
    <remap from="cycle_finished" to="/exoskeleton/cycle_finished"/>
  </node>

  

</launch>
